<img src="/assets/find-your-baker-home-photo.jpg" class="img-fluid" alt="Responsive image">

<h1 class="text-center">Welcome to Find Your Baker</h1>
<p class="lead text-center">
  Searching for a local baker to make that perfect dessert in your area?
  <br>Search now to find a local home baker in your area today!
  <br>Are you a baker looking for clients? Sign-up today!
</p>
<div class="jumbotron">
  <h1 class="display-4">Baker Sign-Up</h1>
  <p class="lead">Sign up today to find local clients in your area.</p>
  <hr class="my-4">
  <p>Be found in your local area by people looking for delicious desserts!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign-Up</a>
  </p>
</div>
